{{> head}}


<h2>Orders</h2>

<p>
  Pageflex Orders
</p>

<table>
  <thead>
    <tr>
      <th>Client</th>
      <th>Id</th>
      <th>Order Status</th>
      <th>Item Status</th>
      <th>User</th>
      <th>Time</th>
      <th>Date</th>
    </tr>
  </thead>

  <tbody>
    {{#each orders}}
    <tr>
      <td>{{this.client}}</td>
      <td>{{this.id}}</td>
      <td>{{this.orderStatus}}</td>
      <td>{{this.itemStatus}}</td>
      <td>{{this.user}}</td>
      <td>{{this.time}}</td>
      <td>{{formatDate this.date day="numeric" month="numeric" year="numeric"}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
