<section class="barba-container" data-barba="container" data-barba-namespace="pageflex" data-service-name="Pageflex" data-service-update="{{jobLastRun}}">
  <table id="orders" class="orders pageflex-orders">
    <thead class="orders__header">
      <tr class="orders__header-row">
        <th class="orders__header-col">
          <h3>Order Status</h3>
        </th>
        <th class="orders__header-col">
          <h3>Client</h3>
        </th>
        <th class="orders__header-col">
          <h3>ID</h3>
        </th>
        <th class="orders__header-col">
          <h3>Item Status</h3>
        </th>
        <th class="orders__header-col">
          <h3>User</h3>
        </th>
        <th class="orders__header-col" data-sort-method="date">
          <h3>Order Time</h3>
        </th>
        <th class="orders__header-col" data-sort-method='number'>
          <h3>Order Date</h3>
        </th>
      </tr>
    </thead>
    <tbody class="orders__body">
      {{#each pageflexOrders}}
      <tr class="orders__body-row {{checkClass this.orderStatus}}">
        <td class="orders__body-cell">{{{this.orderStatus}}}</td>
        <td class="orders__body-cell">{{this.client}}</td>
        <td class="orders__body-cell">{{this.id}}</td>
        <!-- <td class="orders__body-cell">{{this.orderStatus}}</td> -->
        <td class="orders__body-cell">{{this.itemStatus}}</td>
        <td class="orders__body-cell">{{this.user}}</td>
        <td class="orders__body-cell">{{this.time}}</td>
        <td class="orders__body-cell">{{formatDate this.date}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</section>
