<section class="barba-container" data-barba="container" data-barba-namespace="skyportal" data-service-name="Skyportal" data-service-update="10 minutes ago">
  <table id="orders" class="orders skyportal-orders">
    <thead class="orders__header">
      <tr class="orders__header-row">
        <th class="orders__header-col">
          <h3>Order Status</h3>
        </th>
        <th class="orders__header-col">
          <h3>Site</h3>
        </th>
        <th class="orders__header-col">
          <h3>Product</h3>
        </th>
        <th class="orders__header-col" data-sort-method="number">
          <h3>Order #</h3>
        </th>
        <th class="orders__header-col" data-sort-method="number">
          <h3>Item #</h3>
        </th>
        <th class="orders__header-col">
          <h3>Quantity</h3>
        </th>
        <th class="orders__header-col">
          <h3>Paid?</h3>
        </th>
        <th class="orders__header-col">
          <h3>Approved?</h3>
        </th>
        <th class="orders__header-col">
          <h3>Order Date</h3>
        </th>
      </tr>
    </thead>
    <tbody class="orders__body">
      {{#each skyportalOrders}}
        <tr class="orders__body-row">
          <td class="orders__body-cell">{{{checkStatus this.status}}}</td>
          <td class="orders__body-cell">{{this.site}}</td>
          <td class="orders__body-cell">{{this.productName}}</td>
          <td class="orders__body-cell">{{this.orderNumber}}</td>
          <td class="orders__body-cell">{{this.itemNumber}}</td>
          <td class="orders__body-cell">{{this.quantity}}</td>
          <td class="orders__body-cell">{{this.paid}}</td>
          <td class="orders__body-cell">{{this.approved}}</td>
          <td class="orders__body-cell">{{formatDate this.requestDate}}</td>
          <!-- <td class="orders__body-cell">{{formatDate this.requestedShipDate}}</td> -->
          <!-- <td class="orders__body-cell">{{this.status}}</td> -->
        </tr>
      {{/each}}
    </tbody>
  </table>
</section>
