<header class="header">
  <section class="header__service-and-status">
    <h1 class="header__service-name">Sky Portal</h1>
    <span class="header__update-time">updated 5 mins ago</span>
  </section>
  <ul class="header__status">
    <li class="header__status-key">
      <svg class="header__status-key-icon" id="" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
        <title>status-circle</title>
        <circle cx="6" cy="6" r="6" style="fill: #e06c75" />
      </svg>
      <span class="header__status-key-description">Cancelled</span>
    </li>
    <li class="header__status-key">
      <svg class="header__status-key-icon" id="#" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
        <title>status-circle</title>
        <circle cx="6" cy="6" r="6" style="fill: #FFFA72" />
      </svg>
      <span class="header__status-key-description" style="color: #FFFA72;">Not Approved</span>
    </li>
    <li class="header__status-key">
      <svg class="header__status-key-icon" id="" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
        <title>status-circle</title>
        <circle cx="6" cy="6" r="6" style="fill: #E89042" />
      </svg>
      <span class="header__status-key-description" style="color:#E89042">Press</span>
    </li>
    <li class="header__status-key">
      <svg class="header__status-key-icon" id="" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12">
        <title>status-circle</title>
        <circle cx="6" cy="6" r="6" style="fill: #98c379" />
      </svg>
      <span class="header__status-key-description" style="color:#98c379">Completed</span>
    </li>
  </ul>
  <nav class="header__navigation-button">
    <a href="/">Vision</a>
    <a href="/skyportal">Sky Portal</a>
    <a href="/pageflex">Pageflex</a>
  </nav>
</header>
<main>
  <table id="orders" class="orders skyportal-orders">
    <thead class="orders__header">
      <tr class="orders__header-row">
        <th class="orders__header-col">
          <h3>Site</h3>
        </th>
        <th class="orders__header-col">
          <h3>Product</h3>
        </th>
        <th class="orders__header-col" data-sort-method="number">
          <h3>Order #</h3>
        </th>
        <th class="orders__header-col" data-sort-method="number">
          <h3>Item #</h3>
        </th>
        <th class="orders__header-col">
          <h3>Quantity</h3>
        </th>
        <th class="orders__header-col">
          <h3>Paid?</h3>
        </th>
        <th class="orders__header-col">
          <h3>Approved?</h3>
        </th>
        <th class="orders__header-col" data-sort-method="date">
          <h3>Request Date</h3>
        </th>
        <th class="orders__header-col" data-sort-method="date">
          <h3>Req. Ship Date</h3>
        </th>
        <th class="orders__header-col">
          <h3>Status</h3>
        </th>
      </tr>
    </thead>
    <tbody class="orders__body">
      {{#each skyportalOrders}}
        <tr class="orders__body-row">
          <td class="orders__body-cell">{{this.site}}</td>
          <td class="orders__body-cell">{{this.productName}}</td>
          <td class="orders__body-cell">{{this.orderNumber}}</td>
          <td class="orders__body-cell">{{this.itemNumber}}</td>
          <td class="orders__body-cell">{{this.quantity}}</td>
          <td class="orders__body-cell">{{this.paid}}</td>
          <td class="orders__body-cell">{{this.approved}}</td>
          <td class="orders__body-cell">{{this.requestDate}}</td>
          <td class="orders__body-cell">{{this.requestedShipDate}}</td>
          <td class="orders__body-cell">{{this.status}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</main>
