<section class="barba-container" data-barba="container" data-barba-namespace="vision" data-service-name="Vision" data-service-update="{{jobLastRun}}">
  <table id="orders" class="orders vision-orders">
    <thead class="orders__header">
      <tr class="orders__header-row">
        <th class="orders__header-col">
          <h3>Account</h3>
        </th>
        <th class="orders__header-col">
          <h3>Job Title</h3>
        </th>
        <th class="orders__header-col" data-sort-method="number">
          <h3>Job #</h3>
        </th>
        <th class="orders__header-col">
          <h3>Sales Rep</h3>
        </th>
        <th class="orders__header-col">
          <h3>Taken By</h3>
        </th>
        <th class="orders__header-col" data-sort-method="date">
          <h3>Wanted Date</h3>
        </th>
      </tr>
    </thead>
    <tbody class="orders__body">
      {{#each visionOrders}}
      <tr class="orders__body-row">
        <td class="orders__body-cell">{{this.account}}</td>
        <td class="orders__body-cell">{{trimVisionJobTitle this.jobTitle}}</td>
        <td class="orders__body-cell">{{this.jobNumber}}</td>
        <td class="orders__body-cell">{{this.salesRep}}</td>
        <td class="orders__body-cell">{{this.takenBy}}</td>
        <td class="orders__body-cell">{{formatDate this.wantedDate}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</section>
